*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#persons-container{
	display: flex;
	flex-wrap: wrap;
	margin: 20px 30px;
	gap: 5px;
	justify-content: center;
}

.persons-card{
	height: 300px;
	width: 250px;
	border-radius: 30px;
	
}

.persons-card img{
	border-radius: 40px;
	border: 1px solid black;
	width: 210px;
	height: 185px;
	margin: 20px;
	object-fit: cover;
}
.persons-card h2 {
	display: flex;
	text-align: center;
	justify-content: center;
}